.profileIcon{
    display: flex;
    align-items: center;
    transition: box-shadow 0.5s;
    border: 1px solid #dfeefeff;
    border-radius: 40px;
    padding: 5px;
 
}
.fa-user-circle{
    padding: 5px;
    border-radius: 50%;
    border: none;
    color: #1F3B66;
}

.fa-bars{
    padding: 5px 10px 5px;
    color:#1F3B66;
}


.profileIcon:hover{
    box-shadow: 0 0 20px #007BFF;
}

.toggle-button{
    border: none;
    background-color: #dfeefeff;
}

.profile-dropdown{
    position: fixed;
    z-index: 100;
    background-color: darkblue;
}